.cardContainer{
    width: 100%;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 4vh;
    margin-bottom: 4vh;
    min-height: 250px;
    display: flex;
}


.textosContainer{
    margin: 1.5vh;
    word-break: break-all;
}

.imgCard{
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 150px;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-top: 1vh;
}

.imgContainer{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}